:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    --content-width: 1440px;
    --bg-color-dark: #1f2937;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

header {
    padding-block: 1.5rem;
    background-color: var(--bg-color-dark);
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: var(--content-width);
    margin-inline: auto;
}

ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}
h3 {
    font-size: 24px;
    font-weight: bold;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}


.hero {
    background-color: var(--bg-color-dark);
}

.hero-content {
    display: flex;
    max-width: var(--content-width);
    margin-inline: auto;
    padding-block: 8rem;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content :first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

.hero-content :first-child > button {
    background-color: #3b82f6;
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    border-style: none;
    border-radius: 10px;
}

.information {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    text-align: center;
    max-width: var(--content-width);
    padding: 8rem;
    gap: 2rem;
}

.information > div{
    display: flex;
    gap: 2rem;
}

.information img {
    border-radius: 10px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

.quote-content {
    padding: 8rem;
    max-width: 980px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
}

.quote-name {
    font-weight: bold;
    align-self: flex-end;
}

.cta {
    padding: 8rem;
    display: flex;
    justify-content: center;
    color: white;
}

.cta-content {
    padding: 5rem;
    border-radius: 1.5rem;
    max-width: 880px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    background-color: #3b82f6;

}

button {
    background-color: #3b82f6;
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    border-radius: 10px;
    border-color: white;
}


footer {
    display: flex;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-dark);
    color: white;
}